html{
   scroll-behavior: smooth;
}

button,a{
       font-family: 'Comfortaa';
       text-decoration: none;
       font-size: 1vw;
}

p,li{
       font-family: 'Comfortaa';
       text-decoration: none;
       font-size: 1vw;
       line-height: 1.5vw;
}

a,button{
   cursor: pointer;
}

h1{
   font-size: 4vw;
   line-height: 4.5vw;
}

h2{
   font-size: 2vw;
}

h3{
   font-size: 1.5vw;
}

h1,h2,h3{
   font-family: 'Poppins';

}

/* Structure */
body{
    margin: 0;
}

/* NAV */
.nav{
    height: 5vw;
    background-color:#C71F02;
    box-shadow: rgba(0, 0, 0, 0.39) 0 1px 8px 1px;
    z-index: 1000;
    position: sticky;
    top: 0;
}

.nav-logo{
    float: left;
    padding-left: 5vw;
    height: inherit;
}

.nav-logo img{
    height: inherit;
    width: auto;

}

.nav-buttons{
    float: right;
    height: inherit;
    width: auto;
}

.nav ol{
    margin: 2.15vw;
    padding: 0;
}

.nav ol li{
    display: inline;
    margin-right: 2.5vw;
}

.nav ol li a{
/* We could change the actual text in the links if wanted */
    transition: .3s all ease;
    color: white;
    text-decoration: none;
    font-size: 1vw;
 }

.nav ol li a:hover{
    color:black;
 }

 /* HOME NAV */

 /* NAV */
.home-nav{
    height: 5vw;
    background-color:white;
    top: 0;
    z-index: 1000;
    position: sticky;
}

.nav-logo{
    float: left;
    padding-left: 5vw;
}

.nav-logo img{
    height: 5vw;
    width: auto;

}

.nav-buttons{
    float: right;
    height: inherit;
    width: auto;
}

.home-nav ol{
    margin: 2.15vw;
    padding: 0;
}

.home-nav ol li{
    display: inline;
    margin-right: 2.5vw;
}

.home-nav ol li a{
/* We could change the actual text in the links if wanted */
    transition: .3s all ease;
    color: black;
    text-decoration: none;
    font-size: 1vw;
 }

.home-nav ol li a:hover{
    color:#C71F02;
 }

 /* HERO */

 #hero{
    width: 100%;
    height: 45vw;
    background-color: #C71F02;
    position: relative;
    overflow: hidden;
 }

 #hero img{
   width: auto;
   height: 100%;
 }

 #hero h1{
    width: 700px;
    padding-top: 150px;
    color: white;
    text-align: center;
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    line-height: 5em;
 }

 #hero .hero-btn{
   width: 12vw;
   margin: auto;
   background-color: #00000082 ;
  box-shadow: 0 5px #00000082;
  border-radius: 12px;
 }

  .hero-btn:active {
  box-shadow: 0 5px #00000082;
  transform: translateY(4px);
}

 #hero button{
    color: #C71F02;
    background-color: white;
    border-radius: 12px;
    border: 0;
    width: 12vw;
    height: 3vw;
    font-size: 1.25em;

    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 #hero button:hover{
   cursor: pointer;
   background-color: black;
   color: white;
   transition: 400ms;
 }

 #hero .headerImage{
    width: 50vw;
    height: 30vh;
    background-color: #E1E075;
    margin:60px auto;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-width: 6px 6px 0 6px;
    border-color: white;
    border-style: solid;
 }

 #hero img{
    height: auto;
    width: inherit;
 }

 .hero{
   width: 100%;
   height: 30.2vw;
 }

 .hero-title{
   width: 100%;
   height: auto;
   text-align: center;
   margin-top: 19vw;
   position: relative;
 }

 .hero-title h1{
   color:#C71F02;
   font-size: 5em;
   font-family: BBH Hegarty;
   margin: 1vw;
   line-height: 8vw;
 }

 .sticky-note{
   position: absolute;
   background-color: rgb(196, 196, 196);
   box-shadow: 1px 1px 6px 2px #00000036;
   border-radius: 8px;
 }

 #sticky-note1{
   width: 22vw;
   height: 28vw;
   top: 18%;
   left: 10%;

}

#sticky-note2{

    height: 22vw;
    width: 28vw;
   top: 18%;
   left: 35%;
}

#sticky-note3{
   width: 22vw;
   height: 28vw;
   top: 18%;
   right: 10%;
}

 .sticky-note:hover{
   transform: scale(1.025);
   cursor: pointer;
 }

 .sticky-note p{
   color: black;
   margin: 0;
 }

 .sticky-noteheader{
   background-color: rgb(255, 255, 255);
   height: 1vw;
   padding: 1vw;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   display: flex;
   align-items: center;
   gap: 1vw;
 }

 .note-btn{
   display: flex;
   gap: 0.5vw;
 }

 .note-btn div{
   border-radius: 100%;
   background-color: #C71F02;
   width: 0.5vw;
   height: 0.5vw;
 }

 .folder{
   position: absolute;
   display: flex;
   gap: 3vw;
   bottom: -10vw;
   width: 100%;
   justify-content: center;
   text-align: center;
 }

 .folder div:hover{
   transform: scale(1.05);
   transition: 300ms;
 }

 .folder div{
   transition: 300ms;
 }

 .folder img{
   
   width: 5vw;
   height: 5vw;
 }

 .sliding-elmnt{
   background-color: black;
   margin: 0;
   width: 100%;
   height: 3.5vw;
   overflow: hidden;
 }

 .sliding-elmnt div{
   display: flex;
   animation-duration: 15s;
   animation-name: sliding;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   height: inherit;
   align-items: center;
   justify-content: space-between;
   transform: translateX(-100%);
 }

 .sliding-elmnt h3{
   color: white;
   margin: 0;
 }

 @keyframes sliding{
   100% {transform:translateX(100%);}
 }


 #main{
    margin: 0 15vw 0 15vw;
 }

 .introduction h3, p{
    color: #6e6e6e;
 }
 .introduction{
    width: auto;
    height: auto;
    margin-top: 2vw;
 }

 .gallery h2{
    text-align: center;
 }

 .collection1 h2{
    text-align: center;
 }

 .collection1{
    display: flex;

 }

 .collection1 div{
    width: 20vw;
    height: auto;
    margin: auto;
 }

 .collection1 img{
    width: inherit;
    height: auto;
    border-radius: 8px;
 }

 #portfolio-hero{
  box-shadow: rgba(128, 128, 128, 0.545) 0px 10px 10px;
 }

#portfolio-hero h1{
    width: 700px;
    padding-top: 150px;
    padding-bottom: 50px;
    color:#C71F02;
    text-align: center;
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
 }

.portfolio-character{
   gap: 3vw;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7vw;

 }

.portfolio-character div{
    width: 20vw;
    height: 20vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.572);
    border-radius: 8px;
    display: grid;
    justify-content: center;
    align-items: center;
 }

 .portfolio-character div:hover{
   scale: 0.95;
   opacity: 90%;
   transition: 300ms;
 }

.portfolio-character img{
    width: inherit;
    height: inherit;
    border-radius: 8px;
    margin: auto;
 }

 .portfolio-content .web-mock img{
   transition: 300ms;
 }

 .portfolio-content .web-mock img:hover{
   transform: scale(1.05);
   transition: 300ms;
 }

 .filter{
   position: sticky;
   z-index: 1000;
   top: 7vw;
   background-color: #b6b6b642;
   backdrop-filter: blur(8px) ;
   display: flex;
   width: 44vw;
   height: auto;
   margin: auto;
   border-radius:24px;
 }

 .filter div{
   margin: auto;
 }

.filter p{
   color: rgb(27, 27, 27);

}

.filter :hover{

   p{
      opacity: 50%;
      transition: 300ms;
   }

}

#character, #motion, #logo{
   scroll-margin-top: 10vw;
}

.project-header{
   position: relative;
   height: 35vw;
}

.project-about{
   position: absolute;
   bottom: 0;
}

/* COCO PAGE */

.project-img{
   display: flex;
   justify-content: center;
}

.project-img img{
   width: 30vw;
   height: auto;
}

.project-content{
   margin: 5vw 0 5vw 0;
   display: flex;
   justify-content: space-between;
}

.project-content div{
   width: 25vw;
   margin: auto;
}

.project-content img{
   width: 25vw;
}
 
.project-content{
   margin: 5vw 0 5vw 0;
   display: flex;
   justify-content: space-between;
}

.project-content div{
   width: auto;
   margin: auto;
}

.project-content img{
   width: 40vw;
}

/* ABOUT */
#about-hero{
   background-color: #d9d9d9b0;
   position: relative;
   height: 45vw;
}

#about-hero h1{
   position: absolute;
   left: 20vw;
   bottom: 32vw;
}

.about-intro{
   display: flex;
   gap: 10vw;
   position: absolute;
   left: 20vw;
   bottom: 8vw;
}

.about-intro div{
   width: 25vw;
   margin: auto 0 auto 0;
}

.about-intro img{
   width: 30vw;
   border-radius: 8px;
}

.about-gallery{
   margin-top: 5vw;
}

 .about-collection{
    display: flex;
    justify-content: space-between;
   margin-top: 2vw;
 }

 .about-collection div{
    width: 20vw;
    height: 25vw;
   background-color: #d9d9d9b0;
   border-radius: 8px;
   overflow: hidden;
   position: relative;
 }

 .about-collection h3{
   margin: 2vw 1vw 0 1vw;
   color: #C71F02;
 }

 .about-collection p{
   margin: 0 1vw 2vw 1vw;
 }

 .about-collection img{
    width: 18vw;
    height: auto;
    border-radius: 8px;
    position: absolute;
    top: 10vw;
    left: 1vw;
 }

 
 .about-slide{
   position: relative;
   text-align: center;
   width: 40vw;
   margin: 7vw auto;
}

.about-slide video{
   width: fit-content;
   height: auto;
   margin: auto;
}

.about-skill{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   text-align: justify;
   margin-top: 5vw;
}

.about-skill h2{
   margin: 0;
}

.skill-flex{
   display: flex;
   flex-direction: column;
   gap: 3vw;
}

.skill-header{
   width: 20vw;
}

.skill-item{
   margin-bottom: 2vw;
   display: flex;
   flex-direction: row;
   gap: 3vw;
}

.skill-item img{
   width: 5vw;
   height: 5vw;
}

.skill-txt{
   display: flex;
   flex-direction: column;
   width: 25vw;
}

.skill-txt ol{
   list-style: none;
}

.skill-txt li{
   padding-left: 2em;
   margin-bottom:1vw;
   list-style-image: url("../IMG/checkmark.png");
}

#contact{
   background-color: #d9e3e980;
   height: 30vw;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

#contact form input, #contact textarea{
   width: 20vw;
   height: 1.5vw;
   border: 0px solid #C71F02;
   border-radius: 8px;
}

#contact textarea{
   min-width:20vw; 
   min-height:3vw;
   max-width: 20vw; 
   max-height: 5vw;
}

#contact input[type="submit"]{
   width: 5vw;
}


.slide-butt :nth-child(2){
   position: absolute;
   right: 0;
   bottom: 40%;
   border: 0;
   width: 5vw;
   height: 5vw;
   background-color: #00000070;
   color: white;
   font-size: 3vw;
}

.slide-butt :nth-child(1){
   position: absolute;
   left: 0;
   bottom: 40%;
   border: 0;
   width: 5vw;
   height: 5vw;
   background-color: #00000070;
   color: white;
   font-size: 3vw;
}

#portfolio-proj{
   margin: 5vw 20vw 5vw 20vw;
}

.portfolio-header{
   padding-top: 5vw;
   position: relative;
}

.portfolio-header img{
   display: block;
   margin: auto;
   width: 25%;
   height: 25%;
}

.portfolio-content{
   margin-top: 10vw;
}

.content-gallery{
   display: flex;
   width: 100%;
}

.content-gallery div{
   width: 0;
   flex-grow: 1;
   justify-content: center;
}

.content-gallery img{
   width: 100%;
   height: 100%;
}

.content-gallery video{
   height: 100%;
}

.content-gallery2{
   display: flex;
}

.content-gallery2 div{
   width: 100%;
}

.content-gallery2 .web-mock{
   display: flex;
   align-items: center;
   justify-content: center;
}

.content-gallery2 img{
   width: 75%;
}

.content-gallery2 .view-btn{
   border: 0;
   border-radius: 26px;
   width: 14vw;
   height: 3vw;
   margin-top: 2vw;
   transition: 300ms;
}

.content-gallery2 .view-btn:hover{
   background-color: #B34134;
   color: white;
   transition: 300ms;

}

.colour-gallery{
   display: flex;
   justify-content: space-between;
   width: 100%;
}

.colour-gallery div{
   border-radius: 25%;
   height: 10vw;
   width: 10vw;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}



  /* FOOTER */

  .footer{
   text-align: center;
   margin: 7vw 15vw 5vw 15vw;
  }

.footer-flex{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 2vw;
}

.footer-nav ol{
   padding: 0;
}

.footer-nav ol li{
   display: inline;
   margin: 0 1vw 0 1vw;
}

.footer-nav a{
   color: black;
}

.footer-flex div{
   width: 30%;
 }

.footer-social img{
   border-radius: 25%;
   width: 2vw;
   margin: 0 1vw 0 1vw;
}

.footer-logo img{
   width: 12vw;
}




 /* PHONE SCREEN */

@media screen and (max-width: 800px) {

   #character, #motion, #logo{
   scroll-margin-top: 15vw;
}

   h1{
      font-size: 6vw;
      line-height: 6vw;
   }
   h2{
      font-size: 5vw;
   }
   p,h3,li{
      font-size: 3vw;
      line-height: 4.5vw;
   }

   a{
      font-size: 3vw;
   }

   .nav{
    display: none;
   }

   .phone-nav{
      position: sticky;
      top:10px;
  z-index: 10000;
      height: 0;
   }

/*-------HOME--------*/
.hero{
   height: 50vw;
}

.hero h1{
   line-height: 11vw;
   font-size: 3em;
}

.folder{
   bottom: -17vw;
}

.sliding-elmnt h3{
   font-size: 0.5em;
}

#hero{
   height: 65vw;
}

#hero img{
   height: 100%;
   width: auto;
}

 #sticky-note1{
   width: 29vw;
   height: 35vw;
   top: 18%;
   left: 2%;

}

#sticky-note2{

   height: 30vw;
   width: 34vw;
   top: 18%;
   left: 33%;
}

#sticky-note3{
   width: 29vw;
   height: 35vw;
   top: 18%;
   right: 2%;
}

.sticky-note p{
   font-size: 0.4em;
}

#about-hero{
   height: 130vw;
}

#about-hero h1{
   top: 10vw;
   left: 33vw;
}

.about-intro img{
   width: 60vw;
   border-radius: 8px;
}


.about-intro div{
   width: 60vw;
}

.about-intro{
   gap: 0;
   flex-direction: column;
   align-items: center;
}

.about-collection{
   flex-direction: column;
   align-items: center;
   gap: 5vw;
}

 .about-collection div{
    width: 60vw;
    height: 70vw;
   background-color: #d9d9d9b0;
   border-radius: 8px;
   overflow: hidden;
   position: relative;
 }

 .about-collection h3{
   margin: 2vw 1vw 0 1vw;
   color: #C71F02;
 }

 .about-collection p{
   margin: 0 1vw 2vw 1vw;
 }

 .about-collection img{
    width: 55vw;
    height: auto;
    border-radius: 8px;
    position: absolute;
    top:20vw;
    left: 2.5vw;
 }

.about-gallery{
   text-align: center;
}

.about-slide{
   position: relative;
   margin-top: 8vw;
   width: auto;
   text-align: center;
}

#contact{
   height: 100vw;
}

#contact form input{
   height: 6vw;
   width: 65vw;
}

#contact form textarea{
   width: 65vw;
   max-width: 65vw;
}

#contact textarea{
   height: 15vw;
   width: 50vw;

   min-width: 20vw;
   min-height: 3vw;
   max-width: 50vw;
   max-height: 30vw;
}

#contact input[type="submit"]{
   width: 20vw;
}

.about-skill{
   display: flex;
   flex-direction: column;
   margin: auto;
   align-items: center;
   gap: 10vw;
   margin: 5vw 0 5vw 0;
}

.about-skill div{
   width: 100%;
}

.slide-butt :nth-child(2){
   position: absolute;
   right: 0;
   bottom: 40%;
   border: 0;
   width: 12vw;
   height: 12vw;
   background-color: #00000070;
   color: white;
   font-size: 5vw;
}

.slide-butt :nth-child(1){
   position: absolute;
   left: 0;
   bottom: 40%;
   border: 0;
   width: 12vw;
   height: 12vw;
   background-color: #00000070;
   color: white;
   font-size: 5vw;
}

#myNav-bg{
   width: 0%;
   height: 100%;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: left;
  margin: 5vw;
}

.overlay a {
  padding-bottom: 6vw;
  text-decoration: none;
  font-size: 7vw;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
   padding: 5vw;
  font-size: 60px;
}


  #home-main{
      display: none;
   }

   #phone-main{
      margin: 6vw 8vw 0 8vw;

   }

   .gallery{
      margin-top: 6vw;
      height: auto;
   }

   .slideshow-container{
      width: auto;
      height: 90vw;
      margin: auto;
      text-align: center;
      display: flex;
      justify-content: center;
   }

   .slideshow-container img{
      width: 50vw;
   }
   .text{
      width: 50vw;
   }

   .arrow{
      margin: auto;
   }

   .next, .prev{
      
      font-size: 5vw;
   }

   #home-main{
    margin: 0 15vw 0 15vw;
 }

 .introduction h3, p{
    color: #6e6e6e;
 }
 .introduction{
    width: auto;
    height: auto;
 }

 .gallery h2{
    text-align: center;
 }

 .collection1 h2{
    text-align: center;
 }

 .collection1{
    display: flex;

 }

 .collection1 div{
    width: 20vw;
    height: auto;
    margin: auto;
 }

 .collection1 img{
    width: inherit;
    height: auto;
    border-radius: 8px;
 }

 .content-gallery2{
   flex-direction: column;
 }

 .content-gallery2 .view-btn{
   width: 30vw;
   height: 4vw;
 }

 /* PORTFOLIO */

 .filter{
   width: 90vw;
   top: 5vw;
 }

 #portfolio-hero{
  box-shadow: rgba(128, 128, 128, 0.545) 0px 10px 10px;
  height: 30vw;
  position: relative;
  margin-bottom: 3vw;
 }

#portfolio-hero h1{
   width: 40vw;
    color:#C71F02;
    position: absolute;
    bottom: 20px;
    left: 30%;
    margin: 0;
    padding: 0;
 }

 .project-header{
   height: 65vw;
}

.portfolio-character{
   gap: 3vw;
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 7vw;
 }

.portfolio-character div{
    width: 32vw;
    height: 32vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.572);
    border-radius: 8px;
 }

 .portfolio-character div:hover{
   scale: 0.95;
   opacity: 90%;
   transition: 300ms;
 }

.portfolio-character img{
    width: inherit;
    height: auto;
    border-radius: 8px;
 }

 /* TOTHE WORLD */
  #world-main{
    display: none;
 }
 .world-slideshow-container{
      width: auto;
      height: 40vw;
      margin: auto auto 3vw auto;
      text-align: center;
      display: flex;
      justify-content: center;
 }

 .world-slideshow-container img{
   height: 40vw;
 }

.meow-gallery{
   flex-direction: column;
}

.meow-gallery div{
   width: 50vw;
}

.meow-gallery2{
   flex-direction: column;
   gap: 5vw;
}

.meow-gallery2 div{
   width: 50vw;
}

.meow-subcat{
   flex-direction: column;
}

.meow-subcat div{
   width: 50vw;
}

.meow-gallery4 div{
   width: auto;
   height: 50vw;
}

.meow-gallery4 img{
   height: inherit;
}

.footer-social img{
   width: 5vw;
}

}




/* Computer */
@media screen and (min-width: 801px) {
   #phone-main{
      display: none;
   }

   .phone-nav{
      display: none;
   }

   #home-main{
    margin: 0 15vw 0 15vw;
 }

 .introduction h3, p{
    color: #6e6e6e;
 }
 .introduction{
    width: auto;
    height: auto;
 }

 .gallery h2{
    text-align: center;
 }

 .collection1 h2{
    text-align: center;
 }

 .collection1{
    display: flex;

 }

 .collection1 div{
    width: 20vw;
    height: auto;
    margin: auto;
 }

 .collection1 img{
    width: inherit;
    height: auto;
    border-radius: 8px;
 }

 #portfolio-hero{
  box-shadow: rgba(128, 128, 128, 0.545) 0px 10px 10px;
 }

#portfolio-hero h1{
    width: 700px;
    padding-top: 150px;
    padding-bottom: 50px;
    color:#C71F02;
    text-align: center;
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
 }

.portfolio-character{
   gap: 3vw;
    display: flex;

 }

.portfolio-character div{
    width: 20vw;
    height: 20vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.572);
    border-radius: 8px;
 }

 .portfolio-character div:hover{
   scale: 0.95;
   opacity: 90%;
   transition: 300ms;
 }

.portfolio-character img{
    width: inherit;
    height: auto;
    border-radius: 8px;
 }
 

 }




